/**
==========
General
==========
**/
body {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}
body.green {
    background: #2dbe60;
}
#contain {
    margin-left: 300px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
#overlay {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}
pre {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-family: open sans;
}

/**
==========
Log In
==========
**/
/*#logIn {*/
    /*background: #2dbe60 none repeat scroll 0 0;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
/*}*/
#loginFormContain {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}
#loginFormContain .btn-primary {
    background: #fff none repeat scroll 0 0;
    color: #2dbe60;
    margin: 15px auto;
    width: 100%;
}
#loginFormContain input {
    font-size: 16px;
    height: 60px;
}
#loginFormContain .logo {
    color: #fff;
    font-size: 200px;
    text-align: center;
}
#loginFormContain p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#register .available {
    color: #fff;
    font-size: 40px;
    left: -50px;
    position: absolute;
}

/**
==========
Nav
==========
**/
nav.navbar {
    background: #2dbe60;
}
.navbar-nav {
    float: none;
}
.navbar a {
    color: #fff;
}
.navbar-brand .fa-pencil-square {
    font-size: 45px;
}
.navbar-brand {
    padding: 3px 0 0 15px;
}
.navbar button, .navbar button:hover, .navbar button:active, .navbar button:focus {
    background: #fff none repeat scroll 0 0;
    color: #2dbe60;
    font-size: 12px;
    margin-top: 7px;
    padding: 10px 23px;
}
#activeUser {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 16px;
}

/**
==========
Note Middle
==========
**/
.note {
    background: #eee;
    padding: 20px;
    cursor: pointer;
}
.note:nth-child(odd) {
    background: #F7F7F7;
}
.note:hover {
    background: #ddd;
}
.options .fa {
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}
#notesSection {
    height: 100vh;
    overflow-y: scroll;
}
#notesSection button.btn.btn-default {
    background: #2dbe60;
    color: #fff;
    border: none;
}

/**
==========
Sidebar
==========
**/
#notesSidebar h3 {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
}
#notesSidebar h3.active {
    background: #444;
}
#notesSidebar li {
    color: #fff;
    list-style: outside none none;
}
#notesSidebar ul {
    margin: 0;
    padding-left: 10px;
}
#notesSidebar {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 50px;
    width: 300px;
}

/**
==========
New Note Section
==========
**/
#rightSide {
    background: #eee none repeat scroll 0 0;
    height: 100vh;
    margin-top: 0;
    padding-top: 15px;
}
#newNoteSection {
    margin-top: 20px;
}
#newNoteSection textarea, #noteEditSection textarea {
    resize: none;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
#newNoteSection button, #noteEditSection button {
    margin-top: 20px;
}
#newNoteSection input[name="title"], #noteEditSection input[name="title"] {
    border-bottom: 2px solid #E5E5E5;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    margin-bottom: 20px;
    background: transparent;
}

/**
==========
Buttons
==========
**/
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #2dbe60;
    border: medium none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
}

/**
==========
Modals
==========
**/
#shareNote {
    display: block;
}
#shareNote .modal-body button {
    display: block;
    margin: 13px auto;
}
#shareNote .available {
    color: #2dbe60;
    font-size: 30px;
    left: -25px;
    position: absolute;
    top: -6px;
}