/**
==========
General
==========
**/
body {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.ng-enter {
    transition: all ease 0.5s;
    opacity:0;
}
.ng-enter.ng-enter-active {
    opacity: 1;
}
/*.ng-leave {*/
    /*transition: all ease 0.5s;*/
    /*opacity:1;*/
/*}*/
/*.ng-leave.ng-leave-active {*/
    /*opacity:0;*/
/*}*/
/** {*/
    /*transition: all ease 0.5s;*/
    /*opacity: 1;*/
/*}*/
/**.ng-hide {*/
    /*opacity: 0;*/
/*}*/
body.green {
    background: #2dbe60;
}
#contain {
    margin-left: 220px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
#overlay {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    transition: all ease 0.5s;
}
#overlay.ng-hide {
    opacity: 0;
}
pre {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-family: open sans;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.trans {
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
}

/**
==========
Log In
==========
**/
#loginFormContain {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}
#loginFormContain .btn-primary {
    background: #fff none repeat scroll 0 0;
    color: #2dbe60;
    margin: 15px auto;
    width: 100%;
}
#loginFormContain input {
    font-size: 16px;
    height: 60px;
}
#loginFormContain .logo {
    color: #fff;
    font-size: 200px;
    text-align: center;
}
#loginFormContain p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#register .available {
    color: #fff;
    font-size: 40px;
    left: -50px;
    position: absolute;
}

/**
==========
Nav
==========
**/
nav.navbar {
    background: #2dbe60;
}
.navbar-nav {
    float: none;
}
.navbar a {
    color: #fff;
}
.navbar-brand .fa-pencil-square {
    font-size: 45px;
}
.navbar-brand {
    padding: 3px 0 0 15px;
}
.navbar button.btn.btn-primary, .navbar button.btn.btn-primary:hover, .navbar button.btn.btn-primary:active, .navbar button.btn.btn-primary:focus {
    background: #fff none repeat scroll 0 0;
    color: #2dbe60;
    font-size: 12px;
    margin-top: 7px;
    padding: 10px 23px;
}
#activeUser {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 16px;
}

/**
==========
Note Middle
==========
**/
.note {
    background: #eee;
    padding: 20px;
    cursor: pointer;
}
.note:nth-child(odd) {
    background: #F7F7F7;
}
.note:hover {
    background: #ddd;
}
.options .fa {
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}
#notesSection {
    height: 93.6vh;
    overflow-y: scroll;
}
#notesSection button.btn.btn-default {
    background: #2dbe60;
    color: #fff;
    border: none;
}

/**
==========
Sidebar
==========
**/
#notesSidebar h3 {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 13px;
    margin: 8px 0;
}
#notesSidebar h3.active {
    background: #444;
}
#notesSidebar li {
    color: #fff;
    list-style: outside none none;
}
#notesSidebar ul {
    margin: 0;
    padding-left: 10px;
}
#notesSidebar {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 50px;
    width: 220px;
}
#notesSidebar h3 .fa.fa-exclamation-circle {
    font-size: 22px;
    margin-left: 9px;
}

/**
==========
New Note Section
==========
**/
#rightSide {
    background: #eee none repeat scroll 0 0;
    height: 94vh;
    margin-top: 0;
    padding-top: 15px;
    overflow-y: scroll;
}
#rightSide .options .fa {
    font-size: 30px;
}
#newNoteSection {
    margin-top: 20px;
}
#newNoteSection textarea, #noteEditSection textarea {
    resize: none;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
#newNoteSection button, #noteEditSection button {
    margin-top: 20px;
}
#newNoteSection input[name="title"], #noteEditSection input[name="title"] {
    border-bottom: 2px solid #E5E5E5;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    margin-bottom: 20px;
    background: transparent;
}

/**
==========
Buttons
==========
**/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #2dbe60;
    border: medium none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary.focus[disabled], .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #2dbe60;
    border: medium none;
}

/**
==========
Modals
==========
**/
#shareNote {
    display: block;
}
#shareNote .modal-body button {
    display: block;
    margin: 13px auto;
}
#shareNote .available {
    color: #2dbe60;
    font-size: 30px;
    left: -25px;
    position: absolute;
    top: -6px;
}
#shareNote .modal-dialog {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
#shareNote.ng-hide .modal-dialog {
    transform: translateY(-1000px);
    -webkit-transform: translateY(-1000px);
}

/**
==========
Media Queries
==========
**/
@media(max-width: 991px) {
    #notesSidebar {
        width: 60px;
    }
    #notesSidebar h3 span {
        display: none;
    }
    #contain {
        margin-left: 60px;
    }
}

@media(max-width: 767px) {
    .navbar-brand {
        padding: 3px 0;
    }
}

@media(max-width: 430px) {
    #loginFormContain {
        width: 100%;
        padding: 20px;
    }
    #register .available {
        left: 8px;
    }
    #register {
        margin-left: 35px;
    }
    #loginFormContain .logo {
        font-size: 100px;
    }
}